---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>register</h1>
		<form class="form">
			<label for="username">
				<span>Username: </span>
				<input type="text" name="username" autocomplete="off" id="username" required>
			</label>

			<label for="password">
				<span>Password: </span>
				<input type="password" name="password" autocomplete="off" id="password" required>
			</label>

			<label for="firstname">
				<span>Firstname: </span>
				<input type="text" name="firstname" autocomplete="off" id="firstname" required>
			</label>

			<label for="lastname">
				<span>Lastname: </span>
				<input type="text" name="lastname" autocomplete="off" id="lastname" required>
			</label>

			<button type="submit">Register</button>
		</form>

		<script>
			const form = document.querySelector(".form") as HTMLFormElement

			form.addEventListener("submit", async(e) => {

			e.preventDefault()
			const formData = new FormData(form)
			const username = formData.get('username')
			const password = formData.get('password')
			const firstname = formData.get('firstname')
			const lastname = formData.get('lastname')
			console.log(JSON.stringify({ username, password, firstname, lastname }))
			const response = await fetch(`http://localhost:3001/signup`, {
				method: 'POST',
				headers: {
					"Content-Type": 'application/json',
				},
				body: JSON.stringify({
					"username": username,
					"password": password,
					"firstname": firstname,
					"lastname": lastname,
				}),
				credentials: 'include'
			})
			const data = await response.json()
			console.log(data)

			if (response.ok) {
					window.location.href = "/profile"
				} else {
					alert("Login failed!")
				}
		})
		</script>
	</body>
</html>
